html {
  scroll-behavior: smooth;
  --text: #515151;
  --bodybackground: white;
  --headerbackground: #faf2e6;
  --headerbackground2: #faf2e6;
  --popupbackground: white;
  --buttonColour: black;
}

html[theme="dark"] {
  --text: white;
  --bodybackground: rgb(30, 30, 30);
  --headerbackground: rgb(45, 45, 45);
  --headerbackground2: none;
  --popupbackground: rgb(45, 45, 45);
  --buttonColour: white;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html[theme="dark"] body {
  background-image: url(./assets/bg1.jpg);
}

/* FADE IN ANIMATIONS */
@keyframes fadeInUp {
  from {
      transform: translate3d(0,5vw,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,5vw,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@keyframes fadeInRight {
  from {
      transform: translate3d(-5vw,0,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInRight {
  from {
      transform: translate3d(-5vw,0,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@keyframes fadeInLeft {
  from {
      transform: translate3d(5vw,0,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInLeft {
  from {
      transform: translate3d(5vw,0,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.fadeInRight {
  opacity: 0;
  animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
}

.fadeInLeft {
  opacity: 0;
  animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
}

/* DARK MODE */

#darkModeButton {
  transform: translate3d(95.5vw, 8vh, 0);
}

.sr, .toggle:before, .toggle:after {
	position: absolute;
}

.sr, .toggle {
	overflow: hidden;
}

.sr {
	clip: rect(1px,1px,1px,1px);
	color: transparent;
	width: 1px;
	height: 1px;
}

.toggle {
	background: currentColor;
	border-radius: 2em;
	cursor: pointer;
	width: 4em;
	height: 2em;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}

.toggle:before, .toggle:after {
  background: hsl(0,0%,90%);
	border-radius: 50%;
	content: "";
	display: block;
	top: 0.25em;
	left: 0.25em;
	width: 1.5em;
	height: 1.5em;
  transition: transform 0.3s;
}

.toggle:before, .toggle:checked:after {
	transition-delay: 0s;
}

.toggle:checked:before, .toggle:after {
	/* transition-delay: calc(0.3s * 2); */
	transition-timing-function: cubic-bezier(0.3,1.6,0.5,0.7);
}

.toggle:before {
	transform: translateX(-2em);
}

.toggle:checked:before {
	transform: translateX(2em);
}

.toggle:checked:after {
	transform: translateX(4em);
}

.toggle:focus {
	outline: transparent;
}

/* HEADER */

table#headerTable, th, td {
  width: 60%;
  border-collapse: collapse;
}

#header {
  position: fixed;
  list-style-type: none;
  width: 100vw;
  margin-top: -0.5vh;
  margin-left: -2.5vw;
  overflow: hidden;
  transition: 2s;
  z-index: 2;
  top: 0;
}

html[page="home"] #header {
  background-color: var(--headerbackground2);
}

.sticky #title, .sticky .smallerTitle {
  font-size: 3.5vw;
}

.sticky #subsidiary, .sticky .smallerSubsidiary {
  font-size: 0;
  opacity: 0;
  padding: 0;
}

html[page="experience"] #header {
  background-color: var(--headerbackground2);
}

html[page="interests"] .sticky {
  background-color: #1a1e22;
}

#title {
  float: left;
  font-size: 6vw;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: var(--text);
  padding-left: 1vw;
  margin-top: -5vh;
  transition: 2s;
}

.smallerTitle { 
  font-size: 5vw;
  transition: 2s;
}

#subsidiary {
  float: left;
  font-size: 2vw;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: var(--text);
  padding-left: 1.2vw;
  padding-bottom: 1.5vh;
  transition: 2s;
}

.smallerSubsidiary { 
  font-size: 1.5vw;
  transition: 2s;
}

.menu {
  float: right;
  font: 1.5vw "Lato", sans-serif;
  padding-top: 1vh;
  padding-right: 0.7vw;
}

.menu a {
  display: block;
  color: var(--text);
  text-align: center;
  padding: 1vw 2vh;
  text-decoration: none;
  cursor: pointer;
}

.menu a:hover {
  transform: scale(1.25); 
  color: #b1b0b0;
}

.mobileMenu {
  height: 0;
  width: 0;
  visibility: hidden;
}

#menu {
  visibility: hidden;
}

/* PROFILE SUMMARY */

table#profileSummary {
  width: 60%;
  margin: 0 auto;
  margin-top: 32vh;
  margin-bottom: 10vh;
}

#profileSummaryHeader {
  text-align: center;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: var(--text);
  font-size: 3vw;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.fadeIn {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.me {
  border-radius: 50%;
  width: 25vh;
  height: 25vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: 5vh;
  box-shadow: 1vw 1vw 2vw gray;
  border: 0.2vw solid var(--headerbackground);
}

.profileSummaryContent {
  font-family: verdana;
  font-size: 1.5vw;
  text-align: center;
  color: var(--text);
}

.bold { 
  font-weight: bold;
  font-style: oblique;
}

html[theme="light"] .fade {
  color: rgb(81, 81, 81, 0.3);
  transition: all 0.5s;
}

html[theme="dark"] .fade {
  color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

/* SHOW MORE BUTTON */

.showMoreButton {
  border: none;
  background-color: inherit;
  color: dodgerblue;
  font-size: 1.5vw;
  padding-top: 2vh;
  cursor: pointer;
}

.moreText {
  display: block;
  opacity: 0;
  height: 0;
  transition: all 0.5s;
}

html[theme="light"] .profileSummaryContent.showMore .fade {
  color: rgb(81, 81, 81);
}

html[theme="dark"] .profileSummaryContent.showMore .fade {
  color: rgb(255, 255, 255);
}

.profileSummaryContent.showMore .moreText {
  height: 48vh;
  opacity: 1;
}

/* PROJECT SLIDESHOW */

img {
  vertical-align: middle;
}

.slider {
overflow: hidden;
width: 100vw;
transform: translate3d(-0.5vw, 0.5vw, 0);
}

.slides {
  position: relative;
  width: 270vw;
  display: flex;
  max-height: 82%;
  transform: translateX(19vw);
}

.slides input {
  display: none;
}

.mySlides {
  width: 25%;
  transition: 2s;
  opacity: 0.4;
}

.mySlides img{
  width: 100%;
  height: 100%;
}

.opaque {
  opacity: 1;
}

.cursor {
  cursor: pointer;
}

.dotsContainer:after {
  content: "";
  display: table;
  clear: both;
}

.dotsContainer {
  width: 13%;
  margin: 0 auto;
  display: flex;
  transform: translate3d(-0.6vw, 3vw, 0);
  padding-bottom: 6%;
}

.column {
  float:inline-start;
  width: 20%;
}

.manual-btn {
  cursor: pointer;
  transition: 1s;
  width: 1.4vh;
  height: 1.4vh;
  border-radius: 100%;
  display: block;
  margin-left: 2vw;
  margin-top: -1vw;
}

html[theme="light"] .manual-btn {
  background: black;
}

html[theme="dark"] .manual-btn {
  background: white;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.active,
.manual-btn:hover {
  opacity: 0.3;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

/* PAUSE BUTTON */

.pauseButton {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 6vw;
  transform: translate3d(-47.5vw, -13vh, 0);
}

.pauseButtonBG {
  background: inherit;
  border: 0.15vw solid var(--buttonColour);
  border-radius: 50%;
  box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.051),
    0 2.3px 5.3px rgba(0, 0, 0, 0.059), 0 4.4px 10px rgba(0, 0, 0, 0.06),
    0 7.8px 17.9px rgba(0, 0, 0, 0.059), 0 14.6px 33.4px rgba(0, 0, 0, 0.059),
    0 35px 80px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  position: absolute;
  width: 3vw;
  height: 3vw;
}

.pauseButton:active .pauseButtonBG {
  background: inherit;
}

.icon {
  width: 5.9vw;
  height: 5.9vw;
  transform: rotate(-120deg);
  transition: transform 500ms;
}

.part {
  width: 5.9vw;
  height: 5.9vw;
  background: var(--buttonColour);
  position: absolute;
}

.left {
  clip-path: polygon(
    43.77666% 55.85251%,
    43.77874% 55.46331%,
    43.7795% 55.09177%,
    43.77934% 54.74844%,
    43.77855% 54.44389%,
    43.77741% 54.18863%,
    43.77625% 53.99325%,
    43.77533% 53.86828%,
    43.77495% 53.82429%,
    43.77518% 53.55329%,
    43.7754% 53.2823%,
    43.77563% 53.01131%,
    43.77585% 52.74031%,
    43.77608% 52.46932%,
    43.7763% 52.19832%,
    43.77653% 51.92733%,
    43.77675% 51.65633%,
    43.77653% 51.38533%,
    43.7763% 51.11434%,
    43.77608% 50.84334%,
    43.77585% 50.57235%,
    43.77563% 50.30136%,
    43.7754% 50.03036%,
    43.77518% 49.75936%,
    43.77495% 49.48837%,
    44.48391% 49.4885%,
    45.19287% 49.48865%,
    45.90183% 49.48878%,
    46.61079% 49.48892%,
    47.31975% 49.48906%,
    48.0287% 49.4892%,
    48.73766% 49.48934%,
    49.44662% 49.48948%,
    50.72252% 49.48934%,
    51.99842% 49.4892%,
    53.27432% 49.48906%,
    54.55022% 49.48892%,
    55.82611% 49.48878%,
    57.10201% 49.48865%,
    58.3779% 49.4885%,
    59.6538% 49.48837%,
    59.57598% 49.89151%,
    59.31883% 50.28598%,
    58.84686% 50.70884%,
    58.12456% 51.19714%,
    57.11643% 51.78793%,
    55.78697% 52.51828%,
    54.10066% 53.42522%,
    52.02202% 54.54581%,
    49.96525% 55.66916%,
    48.3319% 56.57212%,
    47.06745% 57.27347%,
    46.11739% 57.79191%,
    45.42719% 58.14619%,
    44.94235% 58.35507%,
    44.60834% 58.43725%,
    44.37066% 58.41149%,
    44.15383% 58.27711%,
    43.99617% 58.0603%,
    43.88847% 57.77578%,
    43.82151% 57.43825%,
    43.78608% 57.06245%,
    43.77304% 56.66309%,
    43.773% 56.25486%
  );
  transition: clip-path 500ms;
}

.right {
  clip-path: polygon(
    43.77666% 43.83035%,
    43.77874% 44.21955%,
    43.7795% 44.59109%,
    43.77934% 44.93442%,
    43.77855% 45.23898%,
    43.77741% 45.49423%,
    43.77625% 45.68961%,
    43.77533% 45.81458%,
    43.77495% 45.85858%,
    43.77518% 46.12957%,
    43.7754% 46.40056%,
    43.77563% 46.67156%,
    43.77585% 46.94255%,
    43.77608% 47.21355%,
    43.7763% 47.48454%,
    43.77653% 47.75554%,
    43.77675% 48.02654%,
    43.77653% 48.29753%,
    43.7763% 48.56852%,
    43.77608% 48.83952%,
    43.77585% 49.11051%,
    43.77563% 49.38151%,
    43.7754% 49.65251%,
    43.77518% 49.9235%,
    43.77495% 50.1945%,
    44.48391% 50.19436%,
    45.19287% 50.19422%,
    45.90183% 50.19408%,
    46.61079% 50.19394%,
    47.31975% 50.1938%,
    48.0287% 50.19366%,
    48.73766% 50.19353%,
    49.44662% 50.19338%,
    50.72252% 50.19353%,
    51.99842% 50.19366%,
    53.27432% 50.1938%,
    54.55022% 50.19394%,
    55.82611% 50.19408%,
    57.10201% 50.19422%,
    58.3779% 50.19436%,
    59.6538% 50.1945%,
    59.57598% 49.79136%,
    59.31883% 49.39688%,
    58.84686% 48.97402%,
    58.12456% 48.48572%,
    57.11643% 47.89493%,
    55.78697% 47.16458%,
    54.10066% 46.25764%,
    52.02202% 45.13705%,
    49.96525% 44.01371%,
    48.3319% 43.11074%,
    47.06745% 42.4094%,
    46.11739% 41.89096%,
    45.42719% 41.53667%,
    44.94235% 41.3278%,
    44.60834% 41.24561%,
    44.37066% 41.27137%,
    44.15383% 41.40575%,
    43.99617% 41.62256%,
    43.88847% 41.90709%,
    43.82151% 42.24461%,
    43.78608% 42.62041%,
    43.77304% 43.01978%,
    43.773% 43.428%
  );
  transition: clip-path 500ms;
}

.pointer {
  width: 5.9vw;
  height: 5.9vw;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
}

.active .icon {
  transform: rotate(-90deg);
}

.active .left {
  clip-path: polygon(
    56.42249% 57.01763%,
    54.93283% 57.0175%,
    53.00511% 57.01738%,
    50.83554% 57.01727%,
    48.62036% 57.01718%,
    46.55585% 57.01709%,
    44.83822% 57.01702%,
    43.66373% 57.01698%,
    43.22863% 57.01696%,
    42.86372% 57.01904%,
    42.56988% 57.01621%,
    42.3402% 56.99486%,
    42.16778% 56.94152%,
    42.0457% 56.84267%,
    41.96705% 56.68478%,
    41.92493% 56.45432%,
    41.91246% 56.13777%,
    41.91258% 55.76282%,
    41.9129% 55.37058%,
    41.91335% 54.96757%,
    41.91387% 54.56032%,
    41.91439% 54.15537%,
    41.91485% 53.75926%,
    41.91517% 53.3785%,
    41.91529% 53.01965%,
    41.94275% 52.72355%,
    42.02117% 52.51653%,
    42.14465% 52.38328%,
    42.30727% 52.30854%,
    42.50308% 52.27699%,
    42.72619% 52.27341%,
    42.97065% 52.28248%,
    43.23056% 52.2889%,
    43.94949% 52.28896%,
    45.45083% 52.28912%,
    47.47445% 52.28932%,
    49.76027% 52.28957%,
    52.04818% 52.28981%,
    54.07805% 52.29003%,
    55.5898% 52.29019%,
    56.32332% 52.29024%,
    56.58221% 52.28816%,
    56.83726% 52.28948%,
    57.07897% 52.30593%,
    57.29794% 52.34898%,
    57.48468% 52.43029%,
    57.62978% 52.56146%,
    57.72375% 52.7541%,
    57.75718% 53.01981%,
    57.75713% 53.37763%,
    57.75699% 53.81831%,
    57.75679% 54.31106%,
    57.75657% 54.82507%,
    57.75635% 55.32958%,
    57.75615% 55.79377%,
    57.75601% 56.18684%,
    57.75596% 56.47801%,
    57.7549% 56.50122%,
    57.74034% 56.5624%,
    57.6955% 56.64887%,
    57.60334% 56.748%,
    57.44691% 56.84712%,
    57.20925% 56.93358%,
    56.87342% 56.99471%
  );
}

.active .right {
  clip-path: polygon(
    56.42249% 42.44625%,
    54.93283% 42.44637%,
    53.00511% 42.44649%,
    50.83554% 42.4466%,
    48.62036% 42.4467%,
    46.55585% 42.44679%,
    44.83822% 42.44685%,
    43.66373% 42.4469%,
    43.22863% 42.44691%,
    42.86372% 42.44483%,
    42.56988% 42.44767%,
    42.3402% 42.46902%,
    42.16778% 42.52235%,
    42.0457% 42.6212%,
    41.96705% 42.77909%,
    41.92493% 43.00956%,
    41.91246% 43.32611%,
    41.91258% 43.70105%,
    41.9129% 44.0933%,
    41.91335% 44.49631%,
    41.91387% 44.90355%,
    41.91439% 45.3085%,
    41.91485% 45.70462%,
    41.91517% 46.08537%,
    41.91529% 46.44422%,
    41.94275% 46.74032%,
    42.02117% 46.94735%,
    42.14465% 47.0806%,
    42.30727% 47.15534%,
    42.50308% 47.18688%,
    42.72619% 47.19047%,
    42.97065% 47.1814%,
    43.23056% 47.17497%,
    43.94949% 47.17491%,
    45.45083% 47.17476%,
    47.47445% 47.17455%,
    49.76027% 47.1743%,
    52.04818% 47.17406%,
    54.07805% 47.17384%,
    55.5898% 47.17369%,
    56.32332% 47.17363%,
    56.58221% 47.17571%,
    56.83726% 47.17439%,
    57.07897% 47.15795%,
    57.29794% 47.1149%,
    57.48468% 47.03359%,
    57.62978% 46.90242%,
    57.72375% 46.70977%,
    57.75718% 46.44406%,
    57.75713% 46.08625%,
    57.75699% 45.64557%,
    57.75679% 45.15282%,
    57.75657% 44.6388%,
    57.75635% 44.1343%,
    57.75615% 43.6701%,
    57.75601% 43.27703%,
    57.75596% 42.98586%,
    57.7549% 42.96265%,
    57.74034% 42.90148%,
    57.6955% 42.815%,
    57.60334% 42.71587%,
    57.44691% 42.61675%,
    57.20925% 42.53029%,
    56.87342% 42.46916%
  );
}

/* FIND OUT MORE BUTTON */
.findOutMore {
  padding-top: 3vh;
}

#findOutMoreButton {
  border: none;
  background-color: inherit;
  color: dodgerblue;
  font-size: 1.5vw;
  float: right;
  transform: translate3d(-1.5vw, -24vh, 0);
  cursor: pointer;
}

/* POPUP OVERLAY FOR FIND OUT MORE BUTTON */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 3;
  transition: 2s;
}

#popup {
  position: absolute;
  top: 15%;
  left: 22.5%;
  background-color: var(--popupbackground);
  border: 0.6vw solid var(--headerbackground);
  width: 55vw;
  height: 70vh;
}

.popupHeader {
  font-size: 2vw;
  color: var(--text);
  transform: translate3d(2.5vw, 1.8vh, 0);
}

#popupSubsidiary {
  font-size: 1vw;
  color: var(--text);
  transform: translate3d(2.5vw, 0.8vh, 0);
  opacity: 0.5;
}

#repository {
  border: 0.15vw solid var(--headerbackground);
  width: 6vw;
  height: 11vh;
  color: var(--text);
}

#repository:hover {
  background-color: var(--headerbackground);
  transition: 0.5s;
}

html[theme="dark"] #repository:hover {
  opacity: 0.6;
}

#report {
  border: 0.15vw solid var(--headerbackground);
  width: 6vw;
  height: 11vh;
  color: var(--text);
}

#reportLabel {
  padding-left: 24%;
}

#repositoryLabel {
  padding-left: 11%;
}

#report:hover {
  background-color: var(--headerbackground);
  transition: 0.5s;
}

html[theme="dark"] #report:hover {
  opacity: 0.6;
}

a {
  text-decoration: none;
}

#xButton {
  border: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: inherit;
  font-size: 2vw;
  cursor: pointer;
  transform: translate3d(51.2vw, -13vh, 0);
  color: var(--text);
}

#xButton:hover {
  color: rgb(190, 0, 0);
  transition: 0.1s;
}

#popupLine {
  border: 0.07vw solid gray;
  width: 50vw;
  transform: translate3d(2.3vw, -2.2vh, 0);
  opacity: 0.6;
}

.popupDescription {
  height: 45vh;
  width: 48vw;
  transform: translate3d(2.3vw, -0.5vh, 0);
  padding-left: 2%;
  font-size: 1vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
}

.descImageJava {
  width: 3vw;
  transform: translate3d(0, 2vh, 0);
}

.descImagePython {
  width: 8vw;
  transform: translate3d(0, 9vh, 0);
}

.descImageSQL {
  width: 4vw;
  transform: translate3d(1vw, 9vh, 0);
}

#reportExternalLink {
  display: block;
  width: 1.5vw;
  padding-left: 38%;
  padding-top: 20%;
}

#repositoryExternalLink {
  display: block;
  width: 1.5vw;
  padding-left: 38%;
  padding-top: 20%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0.1vw dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 20vw;
  height: 20vw;
  background-color: var(--headerbackground);
  color: black;
  text-align: center;
  padding: 0.3vw 0.3vw;
  margin-left: -13.2vw;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* CONTACT FORM */

#contactFormDiv {
  color: var(--text);
  text-align: center;
  font: 1.3vw "Lato", sans-serif;
  margin-top: -3vh;
}

input[type=text], #message {
  width: 40%;
  padding: 0.8vw 1vw;
  margin: 1vw 0;
  border: none;
  background-color: var(--headerbackground);
  font-size: 1.2vw;
}

#submitButton {
  width: 12%;
  height: 6%;
  margin: 1vw 0;
  border: none;
  border-radius: 2vw;
  background-color: var(--headerbackground);
  font-size: 1vw;
  cursor: pointer;
  color: var(--text);
}

#submitButton:hover {
  opacity: 0.8;
}

#submitButton:active {
  opacity: 0.6;
}

.formLine {
  border: 0.4vh solid var(--headerbackground);
  width: 100vw;
}


/* FOOTER */

html[page="home"] .footer {
  background-color: var(--headerbackground);
  width: 100vw;
  height: 20%;
  margin-top: 3%;
  transform: translate3d(-0.4vw, 1vh, 0);
  text-align: center;
  color: var(--text);
}

html[page="experience"] .footer {
  background-color: var(--headerbackground);
  width: 100vw;
  height: 20%;
  margin-top: 13.5%;
  transform: translate3d(-0.4vw, 1vh, 0);
  text-align: center;
  color: var(--text);
}

html[page="interests"] .footer {
  background-color: #1a1e22;
  color: #fff;
  width: 100vw;
  height: 20%;
  margin-top: -2.3%;
  transform: translate3d(-0.48vw, 1.7vh, 0);
  text-align: center;
}

#copyright {
  font: 1vw "Lato", sans-serif;
  padding-top: 2%;
}

.dropdownButton {
  background: none;
  font: 1vw "Lato", sans-serif;
  padding: 1vw;
  border: none;
  cursor: pointer;
  margin-top: -5.4vh;
  margin-right: 5.4vh;
  float: right;
  position: relative;
  color: var(--text);
}

html[page="interests"] .dropdownButton {
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: none;
  min-width: 9vw;
  overflow: auto;
  box-shadow: 0 0.8vw 1.6vw 0 rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
  font: 1vw "Lato", sans-serif;
  border-radius: 2vw;
}

.dropdown-content a {
  color: var(--text);
  padding: 0.8vw 1vw;
  text-decoration: none;
  display: block;
}

html[page="interests"] .dropdown-content a {
  color: white;
}

.dropdown:hover .dropdown-content {
  transform: translate3d(-3.5vw, 0, 0);
  display: block;
}

.dropdown a:hover {
  background-color: white;
}

html[page="interests"] .dropdown a:hover {
  color: black;
}

html[theme="dark"] .dropdown a:hover {
  color: black;
}

#ukLogo {
  width: 1.5vw;
  height: 1.7vh;
}

#franceLogo {
  width: 1.5vw;
  height: 1.7vh;
}

#goToTopButton {
  width: 12%;
  height: 6vh;
  border: none;
  border-radius: 2vw;
  background-color: white;
  font-size: 1vw;
  cursor: pointer;
  margin-top: 2vh;
  margin-left: 11%;
  box-shadow: 0 0.8vw 1.6vw 0 rgba(0,0,0,0.2);
}

#goToTopButton:hover {
  opacity: 0.8;
}

#goToTopButton:active {
  opacity: 0.6;
}

/* EXPERIENCE PAGE */
.experienceBgImage {
  background-image: url("./assets/BMW1.jpg");
  background-size: cover;
  min-height: 125%;
  /* background-attachment: fixed; */
  width: 100vw;
  margin-left: -0.49vw;
  margin-top: -23vh;
}

.experienceTitle {
  position: absolute;
  left: 30%;
  top: 50%;
  width: 40%;
  text-align: center;
  transform: translate3d(0, -5vh, 0);
  border: 4px solid white;
}

.experienceTitle span.border {
  font-family: Geneva, Verdana, Tahoma, sans-serif;
  color: white;
  padding: 18px;
  font-size: 110px;
  letter-spacing: 2px;
}

.experienceImages {
  width: 33vw;  
  padding: 1%;
  opacity: 0.7;
}

.leftImage {
  margin-left: -0.49vw;
}

.rightImage {
  margin-right: -0.49vw;
}

.experienceTable {
  margin: auto;
  table-layout: fixed;
  width: 100%;
}

.educationTitle {
  position: absolute;
  left: 32.5%;
  width: 35%;
  text-align: center;
  /* transform: translate3d(0, 5vh, 0); */
  margin-top: 5vh;
  border: 4px solid black;
}

.educationTitle span.border {
  font-family: Geneva, Verdana, Tahoma, sans-serif;
  color: black;
  padding: 18px;
  font-size: 100px;
  letter-spacing: 2px;
}

.vl {
  border-left: 6px dotted black;
  width: 0;
  height: 40vh;
  margin: auto; 
}

.experienceHeader {
  /* border: 2px solid black; */
  padding: 3%;
  text-align: center;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 25px;
  color: var(--text);
  width: 120%;
}

.rightTableDiv {
  /* border: 2px solid black; */
  margin-left: -20vw;
  height: 40vh;
  width: 40vw;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 22px;
  color: var(--text);
}

.leftTableDiv {
  /* border: 2px solid black; */
  margin-left: 4vw;
  height: 40vh;
  width: 40vw;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 22px;
  color: var(--text);
}

/* INTERESTS PAGE */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  margin-left: -0.49vw;
  margin-top: -0.42vw;
}

.bgimg-1 {
  background-image: url("./assets/nba6.jpg");
  background-size:101% 100%;
  min-height: 100%;
  opacity: 1;
  margin-top: -9vh;
}

.bgimg-2 {
  background-image: url("./assets/nba2.jpg");
  min-height: 45vh;
}

.bgimg-3 {
  background-image: url("./assets/guitar3.jpg");
  min-height: 45vh;
}

.bgimg-4 {
  background-image: url("./assets/guitar1.jpg");
  min-height: 60vh;
}

.bgimg-5 {
  background-image: url("./assets/art1.jpg");
  min-height: 100vh;
  opacity: 0.9;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  transform: translate3d(0, -5vh, 0)
}

.caption span.border {
  font-family: 'SignPainter';
  /* background-color: #111; */
  color: #fff;
  padding: 18px;
  font-size: 150px;
  letter-spacing: 2px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}

.section1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: #282E34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
  width: 90.5vw;
  transform: translate3d(-0.5vw, -0.8vh, 0);
}


/* MOBILE */
@media (orientation: portrait) {
  @media only screen and (max-width: 600px) {
    /* HEADER */

    table#headerTable, th#headerTable, td#headerTable {
      margin-left: 2vw;
      width: 51%; 
      transform: translateY(-3vh);
    }

    #header {
      margin-top: 0vh;
      margin-left: -12vw;
    }

    #title {
      padding: 0;
      font-size: 100%;
      transition: 0s;
    }

    .smallerTitle {
      font-size: 100%;
      transition: 0s;
    }

    #subsidiary {
      margin-top: 1vh;
      padding: 0;
      padding-bottom: 5%;
      font-size: 80%;
      transition: 0s;
    }

    .smallerSubsidiary { 
      font-size: 80%;
      transition: 0s;
    }

    .sticky #title {
      font-size: 100%;
      transition: 0s;
    }

    .sticky .smallerTitle {
      font-size: 100%;
      transition: 0s;
    }

    .sticky #subsidiary, .sticky .smallerSubsidiary {
      font-size: 80%;
      opacity: 1;
      padding-bottom: 5%;
      transition: 0s;
    }

    .menu {
      padding: 0;
      font-size: 0%;
      visibility: hidden;
    } 

    #darkModeButton {
      transform: translate3d(81vw, 7vh, 0);
    }

    .mobileMenu {
      float: right;
      height: 4vh;
      width: 7vw;
      margin-top: 2vh;
      margin-right: 4vh;
      visibility: visible;
    }
    
    
    #menuToggle {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 3;
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle input
    {
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 4;
    }
    
    #menuToggle span
    {
      display: flex;
      width: 100%;
      height: 0.3vh;
      margin-bottom: 1vh;
      position: relative;
      background: black;
      border-radius: 0.3vh;
      z-index: 3;
      transform-origin: 5px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }

    html[page="interests"] #menuToggle span {
      background: white;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-1.7vw, -1.5vh);
      background: #36383F;
    }

    html[page="interests"] #menuToggle input:checked ~ span {
      background: white;
    }

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(-1.3vw, 1.6vh);
    }
    
    #menu {
      visibility: visible;
      position: fixed;
      display: none;
      width: 100vw;
      height: 88vh;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 6;
    }
    
    #menu li {
      display: block;
      font: 23px "Lato", sans-serif;
      text-align: center;
      padding: 12% 0;
      text-decoration: none;
      cursor: pointer;
    }

    #menu li a{
      color: white;
    }
    
    #menu li:hover {
      transform: scale(1.25); 
      color: #b1b0b0;
    }

    
    
  }
}

@media (orientation: landscape) {
  @media only screen and (max-height: 600px) {
    
  }
}
